/*  your css code here. If applicable */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      section {
        font-family: sans-serif;
        width: 100%;
        height: 100vh;
        background-color: rgb(214, 212, 212);
        padding: 20px;
      }
      .card {
        width: 300px;
        padding: 25px;
        background-color: rgb(211, 211, 211);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.377);
      }
      .buy-now {
        background-color: rgb(240, 120, 140);
        border: none;
        padding: 10px 15px;
        margin-top: 10px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 10px;
      }